*.iml
.gradle
README.md
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/sonarlint
/.idea/sonarlint/issuestore
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.idea/deploymentTargetDropDown.xml
.externalNativeBuild
.cxx
local.properties
/azure-pipelines.yml
/bleFeatures/build
*.apk
output.json
output-metadata.json




